$green: #12fa12;
$background-color: #111;
$blue: #12f;
$white: #fff;
$pink: rgba(200, 100, 100, 256);
$a-background-color: #fff;
$margin-left: 5px;

$mobile: 26.5625rem;
$tablet: 48rem;

$font-weights: (
  "regular": 300,
  "medium": 500,
  "bold": 800,
);
